<h2>Completed Tasks</h2>

<div class="task-list">
    {{#if tasks}}
        <ul>
            {{#each tasks}}
                <li class="completed-task-li">
                    <div class="completed-task-div">
                        <a href="task/{{this._id}}">{{this.text}}</a>
                        <p class="task-date">Created @ {{this.dateCreated}}</p>
                        <p class="task-date">Completed @ {{this.dateCreated}}</p>
                    </div>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No tasks have been completed.</p>
    {{/if}}
</div>

{{#if tasks}}
    <div class="delete-completed-tasks">
        <form class="delete-completed-form" action="/deleteDone" method="POST">
            <input id="delete-all-done" class="delete-completed-button" type="submit" value="Delete completed tasks">
        </form>
    </div>
{{/if}}

<div class="flash-messages">
    {{#if messages}}
        <p class="error-message">{{messages.error}}</p>
        <p class="info-message">{{messages.info}}</p>
    {{/if}}
</div>
<!-- test commit comment -->
