<h2>Tasks To Do</h2>

<div class="add-task">
    <form id="add-task-form" action="/add" method="POST">
        <input id="add-task-text" name="text" placeholder="[type todo task here]" required>
        <input id="add-task-button" name="add" type="submit" value="add">
    </form>
</div>

<div class="flash-messages">
    {{#if messages}}
        <p class="error-message">{{messages.error}}</p>
        <p class="info-message">{{messages.info}}</p>
    {{/if}}
</div>

<div class="task-list">
    {{#if tasks}}
        <ol>
            {{#each tasks}}
                <li><a href="task/{{this._id}}">{{this.text}}:</a>
                <form class="done-form" action="/done" method="POST">
                    <input class="done-button" type="submit" name="done" value="Done!">
                    <input type="hidden" name="_id" value="{{this._id}}">
                </form>

                <form class="delete-form" action="/delete" method="POST">
                    <input class="delete-button" type="submit" name="delete" value="Delete">
                    <input type="hidden" name="_id" value="{{this._id}}">
                </form>
                </li>
            {{/each}}
        </ol>
    {{else}}
        <P>No tasks to do!</P>
    {{/if}}
</div>

{{#if tasks}}
    <div class="all-done">
        <form action="/alldone" method="POST">
            <input class="all-done-button" type="submit" value="All Done!">
        </form>
    </div>
{{/if}}

<script >
    let deleteButtons = document.querySelectorAll('.delete-button');
    deleteButtons.forEach(function(button){
        button.addEventListener('click', function(ev){
            let okToDelete = confirm("Delete Task - Are You Sure?");
            if(!okToDelete){
                ev.preventDefault();
            }
        })
    });
</script>
